/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
    background-color: #F2EAE2;
    font-family: 'Montserrat';
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.fraunces {
    font-family: 'Fraunces';
}

.container {
    width: 21.4375rem;
    height: 38.1875rem;
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.product-image-mobile {
    width: 21.4375rem;
    height: 15.5rem;
    border-radius: 10px 10px 0 0;
}

.product-image-desktop {
    width: 18.75rem;
    height: 28.125rem;
    border-radius: 10px 0 0 10px;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.header {
    margin-bottom: 0.75rem;
    letter-spacing: 0.3125rem;
    font-size: 0.75rem;
    color: #6C7289;
}

h1 {
    font-size: 2rem;
    color: #1C232B;
    margin-bottom: 1rem;
}

.product-description {
    margin-bottom: 1.5rem;
    padding: 2px;
    font-size: 0.875rem;
    line-height: 1.4375rem;
    color: #6C7289;
}

.prices {
    display: flex;
    align-items: center;
    padding-left: 0.5px;
    margin-bottom: 1.25rem;
}

.product-price-discounted {
    color: #3D8168;
    font-size: 2rem;
    margin-right: 1.1875rem;
}

.product-price-original {
    font-size: 0.8125rem;
    text-decoration: line-through;
    color: #6C7289;
}

button {
    display: flex;
    justify-content: center;    
    align-items: center;
    background: #3D8168;
    border-radius: 8px;
    height: 3rem;
    width: 18.4375rem;
    color: #FFFFFF;
    border: #3D8168;
    font-size: 0.875rem;
}

.button-logo {
    margin-right: 0.7256rem;
}

button:hover {
    background-color: #1A4032;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .product-image-desktop {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@media screen and (min-width: 700px) { 
    .container {
        display: flex;
        width: 37.5rem;
        height: 28.125rem;
        
    }

    .product-image-mobile {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .description {
        overflow: hidden;
        padding: 2rem;
        margin: 0;
    }

    .header {
        margin-bottom: 1.25rem;
    }

    h1 {
        margin-bottom: 1.5rem;
        margin-right: 1.875rem;
    }

    .product-description {
        margin-bottom: 1.8125rem;
    }

    .prices {
        margin-bottom: 1.875rem;
    }

    button {
        width: 14.75rem;
    }
}